include head.pug
main
  section.page-name
    h1.page-name__title=__('accom_1')
    h3.page-name__conference=__('main_title_2')
    .page-name__decoration-1
    .page-name__decoration-2
      .page-name__i-round-1
      .page-name__i-round-2.
        
        
      .page-name__i-round-3.
        
        
  section.content
    .content__inner
      .text-block.margin-bottom-45.margin-bottom-md-15
        h2.title=__('accom_1')
        .placement-block
          .placement-block__img
            img(src='assets/img/icons/placement.png', alt)
          .placement-block__text-block
            p.text.text-black=pageData.attributes.territory
            p.text=pageData.attributes.territory_2
        p.text=pageData.attributes.paragraph_1
      .placement-g
        .placement-g__img-block
          img(src=image1, alt)
        .placement-g__img-block
          img(src=image2, alt)
      .text-block.margin-top-45
        .text-wrap!=paragraph
        
include footer.pug