include head.pug
main
  section.page-name
    h1.page-name__title=__('accom_1')
    h3.page-name__conference=__('main_title_2')
    .page-name__decoration-1
    .page-name__decoration-2
      .page-name__i-round-1
      .page-name__i-round-2.
        
        
      .page-name__i-round-3.
        
        
  section.content
    .content__inner
      .text-block.margin-bottom-45.margin-bottom-md-15
        h2.title=__('accom_1')
        .placement-block
          .placement-block__img
            img(src='assets/img/icons/placement.png', alt)
          .placement-block__text-block
            p.text.text-black=__('accom_2')
            p.text=__('accom_3')
        p.text=__('accom_4')
      .placement-g
        .placement-g__img-block
          img(src='/assets/img/hotel/1.jpg', alt)
        .placement-g__img-block
          img(src='/assets/img/hotel/2.jpg', alt)
      .text-block.margin-top-45
        p.text=__('accom_5')
          a.text-blue.text-medium(href='/conditions')=__('accom_6')
        p.text=__('accom_7')
        p.text=__('accom_8')
        p.text.margin-top-45.margin-top-md-30=__('accom_9')
include footer.pug