include head.pug
main
  section.page-name
    h1.page-name__title=__('dates_title')
    h3.page-name__conference=__('main_title_2')
    .page-name__decoration-1
    .page-name__decoration-2
      .page-name__i-round-1
      .page-name__i-round-2.
        
        
      .page-name__i-round-3.
        
        
  section.content
    .content__inner
      .text-block
        h2.title=__('dates_title')
        table.table
          tbody
            each item in pageData
              tr
                td.cell-dates=item.attributes.date_value
                td.cell-post=item.attributes.title
include footer.pug