include head.pug

main
  section.page-name
    h1.page-name__title=__('orgcomitet_title_1')
    h3.page-name__conference=__('main_title_2')
    .page-name__decoration-1
    .page-name__decoration-2
      .page-name__i-round-1
      .page-name__i-round-2.
      .page-name__i-round-3.
        
        
  section.content
    .content__inner
      .text-block
        h2.title=__('orgcomitet_title_2')
        //- h3.table-subtitle=__('orgcomitet_title_3')
        table.table
          tbody
            each val in dataOrg
              tr
                td.cell-name=val.attributes.name
                td.cell-post=val.attributes.post
      .text-block
        h2.title=__('orgcomitet_title_4')
        table.table
          tbody
          each val in dataTech
            tr
              td.cell-name=val.attributes.name
              td.cell-post=val.attributes.post
           

include footer.pug