include head.pug 


main
  section.page-name
    h1.page-name__title=__('send_mat_1')
    h3.page-name__conference=__('main_title_2')
    .page-name__decoration-1
    .page-name__decoration-2
      .page-name__i-round-1
      .page-name__i-round-2.
        
        
      .page-name__i-round-3.
        
        
  section.content.section-with-form
    .content__inner
      .text-block.margin-bottom-45
        h2.title=__('send_mat_2')
        p.text.margin-v-15
          span.note-star *
          | #{__('send_mat_3')}
      .form-container
        form.form.f-send-materials(action='/tech/send-mail', method="post" enctype='multipart/form-data')
          input(type="hidden", name="subject" value="Подача материалов")
          .input-o-w.fio-wrap
            label(for='surname')
              | #{__('send_req_4')}
              span.note-star *
            .input-i-w
              input.input#surname(type='text', name='Фамилия', required, placeholder=__('send_req_4'))
          .input-o-w.fio-wrap
            label(for='name')
              | #{__('send_req_5')}
              span.note-star *
            .input-i-w
              input.input#name(type='text', name='Имя', required, placeholder=__('send_req_5'))
          .input-o-w.fio-wrap
            label(for='patronymic')=__('send_req_6')
            .input-i-w
              input.input#patronymic(type='text', name='Отчество', placeholder=__('send_req_6'))
          .input-o-w
            label(for='organization')
              | #{__('send_req_7')}
              span.note-star *
            .input-i-w
              input.input#organization(type='text', name='Организация', placeholder=__('send_req_7'), required)
          .input-o-w
            label(for='email')
              | #{__('send_req_8')}
              span.note-star *
            .input-i-w
              input.input#email(type='email', name='Email', placeholder=__('send_req_8'), required)
          .input-o-w
            label(for='app-num')=__('send_mat_4')
            .input-i-w
              input.input#app-num(type='text', name='Номер заявки', placeholder=__('send_mat_4'))
          .input-o-w
            label(for='app-file')
              span.note-star *
              | #{__('send_mat_5')}
            .input-i-w
              .input.file-input-name
                .add-file
                  div
                  div
                input.file-input#app-file(type='file', name='file', accept='.doc, .docx')
          .approve-block
            label.easyCheckbox(for='approve')
              input.easyCheckbox__hidden-checkbox#approve(type='checkbox', name='Согласие с обработкой данных')
              .easyCheckbox__visible-checkbox.easyCheckbox__square
              p.easyCheckbox__text
                | #{__('send_req_26')} 
                a(href='#')=__('send_req_27')
          .sendform-btn--block
            button.sendform-btn.
              
              #{__('send_req_28')}
              
    .form-decoration
      img(src='/assets/img/4561.png', alt)


include footer.pug