include head.pug
main
  section.page-name
    h1.page-name__title=__('send_req_1')
    h3.page-name__conference=__('main_title_2')
    .page-name__decoration-1
    .page-name__decoration-2
      .page-name__i-round-1
      .page-name__i-round-2.
        
        
      .page-name__i-round-3.
        
  section.content.section-with-form
    .content__inner
      .text-block.margin-bottom-45
        h2.title=__('send_req_2')
        p.text.margin-v-15
          span.note-star *
          | #{__('send_req_3')}
      .form-container
        form.form.f-send-materials(action='/tech/send-mail', method="post" enctype="multipart/form-data")
          input(type="hidden", name="subject" value="Подача заявок")
          .input-o-w.fio-wrap
            label(for='surname')
              | #{__('send_req_4')}
              span.note-star *
            .input-i-w
              input.input#surname(type='text', name='Фамилия', required, placeholder=__('send_req_4'))
          .input-o-w.fio-wrap
            label(for='name')
              | #{__('send_req_5')}
              span.note-star *
            .input-i-w
              input.input#name(type='text', name='Имя', required, placeholder=__('send_req_5'))
          .input-o-w.fio-wrap
            label(for='patronymic') #{__('send_req_6')}
            .input-i-w
              input.input#patronymic(type='text', name='Отчество', placeholder=__('send_req_6'))
          .input-o-w
            label(for='organization')
              | #{__('send_req_7')}
              span.note-star *
            .input-i-w
              input.input#organization(type='text', name='Организация', placeholder=__('send_req_7'), required)
          .input-o-w
            label(for='email')
              | #{__('send_req_8')}
              span.note-star *
            .input-i-w
              input.input#email(type='email', name='Email', placeholder=__('send_req_8'), required)
          .input-o-w
            label(for='phone')
              | #{__('send_req_12_1')}
              span.note-star *
            .input-i-w
              input.input#phone(type='tel', name='Phone', placeholder=__('send_req_12_1'), required)
          .input-o-w
            label(for='post')
              | #{__('send_req_9')}
              span.note-star *
            .input-i-w
              input.input#post(type='text', name='Должность', placeholder=__('send_req_9'), required)
          .input-o-w
            label(for='work-name')
              | #{__('send_req_10')}
              span.note-star *
            .input-i-w
              input.input#work-name(type='text', name=__('send_req_10'), placeholder=__('send_req_10'), required)
          .input-o-w
            label(for='annotation')
              | #{__('send_req_11')}
              span.note-star *
            .input-i-w
              input.input#annotation(type='text', name='Аннотация', placeholder=__('send_req_11'))
          .input-o-w
            label(for='section-name-1')
              | #{__('send_req_12')}
              span.note-star *
            .input-i-w
              .easySelect
                .easySelect__vis-value
                  .easySelect__cur-value(data-value).
                    #{__('send_req_12')}
                  input.easySelect__hide-input(type='text', name='Секция')
                  .easySelect__arrow
                    svg(width='21', height='13', viewBox='0 0 21 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                      path(d='M1 1L11 12L20.5 1', stroke='#0C44AC')
                ul.easySelect__options-list(data-state='rolled', data-hide_checked='false')
                  li.easySelect__option(data-value='Рынки')=__('main_list_item_1')
                  li.easySelect__option(data-value='Модели функционирования')=__('main_list_item_2')
                  li.easySelect__option(data-value='Проектные решения')=__('main_list_item_3')
                  li.easySelect__option(data-value='Энергетические и силовые системы')=__('main_list_item_5')
                  li.easySelect__option(data-value='Новые материалы')=__('main_list_item_6')
                  li.easySelect__option(data-value='Беспилотный транспорт')=__('main_list_item_7')
                  li.easySelect__option(data-value='Интеллектуальное управление')=__('main_list_item_10')
                  li.easySelect__option(data-value='Сертификация, эксплуатация')=__('main_list_item_8')
                  li.easySelect__option(data-value='Механика транспортных систем')=__('main_list_item_9')
     
          .input-o-w
            label
              | #{__('conf_location_title')}
              span.note-star *
            .input-i-w
              .easySelect
                .easySelect__vis-value
                  .easySelect__cur-value(data-value).
                    #{__('conf_location_title')}
                  input.easySelect__hide-input(type='text', name='Площадка')
                  .easySelect__arrow
                    svg(width='21', height='13', viewBox='0 0 21 13', fill='none', xmlns='http://www.w3.org/2000/svg')
                      path(d='M1 1L11 12L20.5 1', stroke='#0C44AC')
                ul.easySelect__options-list(data-state='rolled', data-hide_checked='false')
                  li.easySelect__option(data-value='Алушта')=__('conf_location')
                  li.easySelect__option(data-value='Сириус')=__('conf_location_1')


        
          if locale === 'ru'
            .input-o-w
              label(for='expert-opinion')
                span.note-star *
                | #{__('send_req_19_0')}
              .input-i-w
                .input.file-input-name
                  .add-file
                    div
                    div
                  input.file-input#expert-opinion(type='file', name='file', accept='.pdf')
          .input-o-w
            label(for='theses')
              span.note-star *
              | #{__('send_req_19')}
            .input-i-w
              .input.file-input-name
                .add-file
                  div
                  div
                input.file-input#theses(type='file', name='file2', accept='.doc, .docx')
          br
          .input-o-w
            label(for='f-participation')
              span.note-star *
              | #{__('send_req_20')}
            .input-i-w
              .radio-wrap
                label.easyRadio(for='f-participation-rb-1')
                  input#f-participation-rb-1.easyRadio__hidden-radio(type='radio', name='Форма участия', value='Очно', checked)
                  .easyRadio__visible-radio.easyRadio__round
                  p.easyRadio__text=__('send_req_22')
                label.easyRadio(for='f-participation-rb-2')
                  input#f-participation-rb-2.easyRadio__hidden-radio(type='radio', name='Форма участия', value='Дистанционно')
                  .easyRadio__visible-radio.easyRadio__round
                  p.easyRadio__text=__('send_req_21')
          .input-o-w
            label(for='scopus-pub-1')
              span.note-star *
              | #{__('send_req_23')}
            .input-i-w
              .radio-wrap
                label.easyRadio(for='scopus-pub-1')
                  input#scopus-pub-1.easyRadio__hidden-radio(type='radio', name='Публикация Scopus', value='Да', checked)
                  .easyRadio__visible-radio.easyRadio__round
                  p.easyRadio__text=__('send_req_24')
                label.easyRadio(for='scopus-pub-2')
                  input#scopus-pub-2.easyRadio__hidden-radio(type='radio', name='Публикация Scopus', value='Нет')
                  .easyRadio__visible-radio.easyRadio__round
                  p.easyRadio__text=__('send_req_25')
          .approve-block
            label.easyCheckbox(for='approve')
              input.easyCheckbox__hidden-checkbox#approve(type='checkbox', name='Согласие с обработкой данных')
              .easyCheckbox__visible-checkbox.easyCheckbox__square
              p.easyCheckbox__text
                | #{__('send_req_26')}
                a(href='#')=__('send_req_27')
          .sendform-btn--block
            button.sendform-btn.
              
             #{__('send_req_28')}
              
    .form-decoration
      img(src='/assets/img/4561.png', alt)
include footer.pug